.model-center{
    
   top: 50% !important;
  transform: translateY(-50%) !important;
  border-bottom: 5px solid coral;
  border-radius: 0.5em;
 
}

.logo-size{
  width: 70px;
  height:70px;
}

.model-item-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-text-center{
  text-align: center;
  font-size: 14px;
}

.model-btn{
  border: none;
  color: white !important;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: coral !important;
  margin-top: 10px;
  height: 20px;
  width: 600px;

}